.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}


code {
  border: 1px solid #112846;
  background-color: #193d6b;
  color: #e8f0f3;
}

slides>slide .slide-wrapper>hgroup+article {
  text-align: left;
}

slides>slide .slide-wrapper article p  {
  text-align: left;
}

.zoom {
  object-fit: cover;
}

.hljs {
  background: #353535;
}